<!DOCTYPE html>
<title>Graph Test</title>
<link rel="stylesheet" href="style.css" />
<h1>Graph Test</h1>
<header>
	<section v-on="keydown: handle_tabs">
		<h2>
			Graph definition
			<small><a href="http://en.wikipedia.org/wiki/DOT_%28graph_description_language%29">(syntax)</a></small>
			<small><a href="https://github.com/cpettitt/dagre/wiki#configuring-the-layout">(layout)</a></small>
		</h2>
		<textarea v-model="graph"></textarea>
	</section>
	<section v-on="keydown: handle_tabs">
		<h2>SVG template <small><a href="https://github.com/janl/mustache.js">(mustache)</a></small></h2>
		<textarea v-model="template"></textarea>
	</section>
</header>
<section>
	<h2>Output:</h2>
	<main v-html="rendered"></main>
</section>
<footer>
	<h2>Output string</h2>
	<pre>{{rendered}}</pre>
</footer>
<script src="bundle.js"></script>
